@import '../abstract/fonts';
@import '../abstract/variables';
@import '../abstract/mixins';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:none
}

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 12px;
    user-select: none;
}
.page_container{
  @include full_width_height;
  background-repeat: no-repeat;
  color: $white_color;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: url(../../images/background.png);
  @include mobile_phones{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.page_section{
    @include mobile_phones{
        width: 90%;
        margin: 0 auto;
    }
}
.text_center{
    text-align: center;
}


.page_container_header{
    padding: 30px 50px;
    width: 100%;
    margin: 0 auto;
    @include flex;
    justify-content: space-between;
    @include mobile_phones{
        padding: 30px 0px;
        align-items: center;
    }
}

.brand_image_container{
    position: relative;
}

.brand_image_text{
  
    left: 10px;
    top:10px

}

.brand_image_text, .page_section_5,.coin_container{
    position: absolute
}

.brand_icon{
    @include flex;
  
.date_icon{
    top: 5px;
    left: 7px;
}
}

.page_section{
    &_1{
    }
    &_4{
        text-align: center;
    }
    &_5{
        width: 100%;
        bottom: -10px;
        @include mobile_phones{
            top: 900px;
        }
    }
}

.coin_container{
   
    width: 100%;
    top:-20px;
    @include flex;
    justify-content: center;
    align-items: center ;
    @include mobile_phones{
        width: 90%;
    }
    &_image{
        position: relative;
    }
}

.coin{
    &_left_image, &_right_image{
        position: absolute;
    }
    &_left_image{
        right: 120px;
    }
    &_right_image{
        left: 220px;
        top: 70px;
        @include mobile_phones{
            left: 180px;
        }
    }
}
.brand_count_down{
    margin-left: 10px;
}

.brand_count_down{
    & h3{
        font-family: $inter_font;
    }
}

/*
*  section-2 
*/

.page_section_2{
   padding-top: 20px;
   position: relative;
   z-index: 87656789876898756765;
   & .image_pattern{
        position: absolute;
        width: 100%;
        z-index: 2;
        top: 10px;
   }
}

.image_pattern{
    & .image_container{
        width: 100%;
        max-width: 100%;
        text-align: center;
        @include mobile_phones{
            max-width: unset;
        }
        & img{
            width: clamp(73.5%,0.5vw, 50%);
            @include mobile_phones{
                height: 300px;
                width: 300px;
                transform: scale(1.9);
            }
        }
    }
    @include mobile_phones{
        width: 120%;
    }
}

.page_header_text{
   
    & .header_text{
        font-size: $large_text;
        line-height: 3.82rem;
        margin: 0 auto;
        @include mobile_phones{
            display:none;
        }
    }
}

.mobile_text_header{
    display: none;
    text-align: center;
    font-size: 1.4rem;
    line-height: 45px;
    @include mobile_phones{
        display: block;
    }
}


.font-weight_1{
    font-weight: 100;
}
.font-weight_2{
    font-weight: 200;
}


.header_lighter_text{
    font-weight: 300;
}

.page_header_taglinetext{
    padding-top: 30px;
    font-size: 1.95rem;
    @include mobile_phones{
        display: none;
    }
    & h4{
        font-weight: 300;
        font-family: $inter_font;
    }
}

.mobile_text_tagline{
    display: none;
    padding-top: 20px;
    @include mobile_phones{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    & h4{
        @include mobile_phones{
            font-size: 1.0rem;
        }
    }
}

 .bolder_text{
    font-weight: 600;
}

.relative_container{
    position: relative;
}

.page_section_3{
    @include flex_centralize;
    margin-top: 30px;
    z-index: 87656789876898756765;
    position: relative;
    & article{
        padding: 30px;
        width: 530px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
        box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
        border-radius: 8px;
        & h4{
            text-align: center;
            font-size: 1.01rem;
            margin-bottom: 20px;
        }

        & ol{
            margin-left: 20px;
            & li{
                font-size: .95rem;
                font-weight: 300;
            }
        }
        & .bottom_text{
            font-size: .95rem;
            margin-top: .89rem;
            font-weight: 300;
        }

        & .instruction_text{
            width: 100%;
            padding: 15px;
            margin-top: .9rem;
            background: rgba(0, 0, 0, 0.234);
            border-radius: 10px;
            @include flex;
            & p{
                &:first-child{
                    flex:1
                }
                flex: 12;
                width: 100%;
                font-size: .95rem;
                font-family: $inter_font;
                font-weight: 300;
                line-height: 25px;
            }
        }
    }
}


.action_button_container{
    margin-top: 40px;
    z-index: 678765678987677777;
    position: absolute;
    width: 100%;
    & button{
        padding: 15px;
        width: 180px;
        background-color: $yellow_color;
        color: $white_color;
        border-radius: 4px;
        font-family: $inter_font;
    }
}

.action_button{
    & img{
        width: 8px;
        position: relative;
        left: 20px;
        top: 2px;
    }
}


/*
* section 5
*/

.animated_image_container{
    text-align: center;
    z-index: 0;
}



@keyframes skewAction{
    10%{
        transform: skew(1deg);
      
    }
    12%{
        transform: skew(2deg);
      
    }
    14%{
        transform: skew(3deg);
       
    }
    16%{
        transform: skew(4deg);
       
    }
    18%{
        transform: skew(5deg);
       
    }
    20%{
        transform: skew(6deg);
       
    }
    22%{
        transform: skew(8deg);
        
    }
    24%{
        transform: skew(10deg);
        
    }
    26%{
        transform: skew(12deg);
       
    }
    30%{
        transform: skew(14deg);
       
    }
    32%{
        transform: skew(16deg);
       
    }
    34%{
       transform: skew(18deg);
        
    }
    36%{
       transform: skew(20deg);
       
    }
    // 40%{
    //     transform: skew(9deg);
    // }
    // 50%{
    //     transform: skew(15deg);
    // }
    // 70%{
    //     transform: skew(25deg);
    // }
    // 100%{
    //     transform: skew(0);
    // }
}


.wavy_length{
    animation-name: skewAction;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
    animation-duration: 8s;
}
.image_animated_container_2{
    text-align: center;

    @include mobile_phones{
        overflow: hidden;
        bottom: 0;
        margin-top: 40px;
    }
    & img{
        width: 30%;
        position: relative;
        top:35px;
        @include mobile_phones{
            top: 22px;
        }
    }
}

.image_animated_container_1{
    width: 50%;
    height: 60px;
    margin: 0 auto;
    align-items: flex-end;
    justify-content:center;
    position: relative;
    top: 140px;
    left: -100px;
    display: flex;
    @include mobile_phones{
        width: 100%;
        left: -220px;
    }
}

.ray_img_container{
    position: absolute;
    width: 200px;
    @include mobile_phones{
        width: 100%;
       
    }
    & img{
        width: 400px;
        @include mobile_phones{
            width: 350px;
        }
    }
}


// @keyframes roller_1{
//     10%{
//         left: 25px;
//     }
//     15%{
//         left: 20px ;
//     }
//     20%{
//         left: 15px;
//     }
//     25%{
//         left: 10px
//     }
//     30%{
//         left: 5px
//     }
//     35%{
//        left: 0px;
//     }
//     40%{
//         left: -5px
//     }
//     45%{
//         left: -10px
//     }
//     50%{
//         left: -15px
//     }
//     55%{
//         left: -20px;
//     }
//     60%{
//         left: -25px;
//     }
// }

// @keyframes roller_2{
//     10%{
//         left: 65px;
//     }
//     15%{
//         left: 60px ;
//     }
//     20%{
//         left: 55px;
//     }
//     25%{
//         left: 50px
//     }
//     30%{
//         left: 45px
//     }
//     35%{
//        left: 40px;
//     }
//     40%{
//         left: 35px
//     }
//     45%{
//         left: 30px
//     }
//     50%{
//         left: 25px
//     }
//     55%{
//         left: 20px;
//     }
//     60%{

//     }
// }
.ray{
    &_1{
        left: 0px;
        @include mobile_phones{
           
            left: 10px;
        }
    }
    &_2{
        left: 70px;
        @include mobile_phones{
            
            left: 25px;
        }
        // animation-name: roller_2;
        // animation-iteration-count: infinite;
        // animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        // animation-duration: 1200ms;
    }
    &_3{
        right: 230px;
        @include mobile_phones{
           
            left: 200px;
        }
    }
    &_4{
        right: 40px;
        @include mobile_phones{
           
            left: 400px;
        }
    }
    &_5{
        right: 100px;
        @include mobile_phones{
           
            left: 10px;
            @include mobile_phones{
                left :350px;
            }
        }
    }
}


.ray_3{
    & img{
        width: 150px;
    }
}

.coin_image_container{
    position: absolute;
}

.coinpot_container{
   
    & img{
       @include mobile_phones{
        width: 100%;
        position: relative;
       }
    }
}